
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.wrapper{    
   padding:1%;
   width: 80%; 
   margin: 0 auto;
}
.text-center{
    text-align: center;
} 
.clearfix
{
    float: none;
    clear: both;
}
.tbl-full
{
    width: 100%;
}
.tbl-30
{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding:1%;
    text-align : left;  
}
table tr td
{
  padding: 1%;  
}
.btn-primary
{
    background-color: rgb(89, 89, 201);
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: rgb(12, 12, 78);
}
.btn-secondary
{
    background-color: rgb(65, 192, 103);
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: rgb(17, 110, 8);
}
.btn-danger
{
    background-color: rgb(187, 74, 70);
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: rgb(180, 16, 16);
}
/* css for footer */
.footer
{
    background-color:brown ;
    color: white;
}
   
/* css for menu */
.menu{
    border-bottom: 1px solid brown ;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu{
    text-align: center;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}
.menu ul li a:hover{
color: black;
}
/* css for main content */
.main-content
{
    
    background-color: rgb(231, 225, 216);
    padding: 3% 0;
}
.col-4
{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}